#middle-banner {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #4393B9;
  color: #F5F5F5;
  text-align: center;
  font-size: 14px;
  padding: 30px 15px;
  margin-bottom: 40px;
}
