<div class="container">
  <h1>Profile settings</h1>

  <form [formGroup]="settingsForm" (ngSubmit)="saveProfileChanges()" class="form">
    <h2>Change location</h2>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" [(ngModel)]="city" name="city" formControlName="city">
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" [(ngModel)]="state" name="state" formControlName="state">
    </div>

    <button type="submit" class="btn btn-primary">Save changes</button>
  </form>

  <form [formGroup]="passwordForm" (ngSubmit)="saveNewPassword()" class="form">
    <h2>Change password</h2>  
    <div class="form-group">
      <label for="newPassword">New password</label>
      <input type="text" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" formControlName="newPassword">
      <div *ngIf="passwordGetter.invalid && (passwordGetter.dirty || passwordGetter.touched)" class="alert alert-danger">
        <div *ngIf="passwordGetter.errors['pattern']">
          <small>
            New password should be minimum eight characters, at least one upper-, one lower-case letter, one digit, one special character.
          </small>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save changes</button>
  </form>
</div>

<!--
<div class="container">
  <h1>Update Profile</h1>
  <form>

    <div class="form-group">
      <label for="fullName">Full name</label>
      <input type="text" class="form-control" id="fullName" [(ngModel)]="fullName" name="fullName">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" [(ngModel)]="city" name="city">
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" [(ngModel)]="state" name="state">
    </div>

    <button type="submit" class="btn btn-primary" (click)="saveProfileChanges()">Save changes</button>
  </form>
</div>

<div class="container">
  <h1>Change password</h1>
  <form>
    <div class="form-group">
      <label for="currentPassword">Current Password</label>
      <input type="text" class="form-control" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword">
    </div>

    <div class="form-group">
      <label for="newPassword">New password</label>
      <input type="text" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword">
    </div>

    <button type="submit" class="btn btn-primary" (click)="saveNewPassword()">Save changes</button>
  </form>
</div>
-->
